body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    /* keeps footer at bottom of page when the content is taller than the footer*/
    position: relative;
    min-height: 100vh;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.page-header {
  padding-left: 3vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background: #9cfdff40;
}

.page-footer {
  padding-left: 3vw;
  margin-top: 2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background: #9cfdff40;
  text-align: center;
}

/* Set the background color of body to tan */
/* body {
    background-color: tan;
  } */
  
  /* On screens that are 992px or less, set the background color to blue */
  /* @media screen and (max-width: 992px) {
    body {
      background-color: blue;
    }
  } */
  
  /* On screens that are 600px or less, set the background color to olive */
  /* @media screen and (max-width: 600px) {
    body {
      background-color: olive;
    }
  } */