.container{
    text-align:center;
    border:1px solid #666;
}

.companyLogo{
    max-width: 240px;
    margin: 40px 40px 40px 40px;
    cursor: pointer;
}

.slide-container {
    width: 99vw;
}

.slide-container img {
    width: 99vw;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
    
}

.logo-container img {
    flex-grow: 1;
    flex-shrink: 0;
   
}

.mission-statement {
    text-align: center;
    font-size: 22px;
    margin-top: 3vh;
    margin-bottom: 3vh;
}