.container{
    text-align:center;
    border:1px solid #666;
}

.companyLogo{
    width: 50%;
    max-width: 212px;
    margin: 40px 40px 40px 40px;
    cursor: pointer;
}

.slide-container

.slide-container img {
    /* max-width: 100%; */
    object-fit: cover;
    height: auto;
    width: 100%;
    /* max-height: 500px; */
}
/* 
.slide-container {
    max-width: 500px;
} */

.logo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.logo-container img {
    flex-grow: 1;
}