/* .form-container {
    width: 50%;
    background: lightblue;
    display: inline-block;
}

.info-container {
    width: 50%;
    background: orange;
    display: inline-block;
    font-size: 20px;
} */

.info-container {
    margin-left: 3vw;
    /* width: 70%; */
}

.info-container h4 {
    display: inline;
}
